.backdrop {
	display: flex;
	position: absolute;
	inset: 0;
	z-index: 999;
	width: 100vw;
	height: 100dvh;
	background-color: rgb(0 0 0 / 50%);
	display: none;
	align-items: center;
	justify-content: center;
}

.player-form {
	display: none;
}

.game-over {
	display: none;
}
